__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
env/
venv/
FIT/
htmlcov/
.coverage*
.pytest_cache/
.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db
/results/*.parquet
/results/*.joblib

results/*
!results/.gitkeep

results/**/*.parquet
results/**/*.joblib

results/**/split_proportions.png
results/**/split_proportions.svg
/notebooks/results/fit_notebook_fast/figures/feature_distributions
/notebooks/results/fit_notebook_fast/results_data/individual_id/eurasian_otter_train_1
/notebooks/results/fit_notebook_fast/results_data/individual_id
